/* Temiz ve Sade Kırmızı/Siyah Tema */

body {
    font-family: "Courier New", Courier, monospace;
    background-color: #000000; /* Tam siyah */
    color: #ff0000; /* Kırmızı yazılar */
    margin: 0;
    padding: 20px;
    line-height: 1.5;
}

h1 {
    font-size: 24px;
    color: #ffffff;
    border-bottom: 1px solid #ff0404;
    padding-bottom: 10px;
    text-transform: uppercase;
}

p {
    color: #ffffff;
    font-size: 14px;
}

/* Buton Stilleri */
button, .btn {
    background-color: transparent;
    color: #ff0000;
    border: 1px solid #ff0000;
    padding: 10px 20px;
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin: 5px 0;
}

button:hover, .btn:hover {
    background-color: #ff0000;
    color: #000000;
}

/* Form Elemanları */
input[type="text"],
input[type="password"] {
    width: 250px;
    padding: 8px;
    margin: 10px 0;
    background-color: #000000;
    border: 1px solid #ff0000;
    color: #f1f1f1;
    outline: none;
}

/* Seçim Rengi */
::selection {
    background-color: #ff0000;
    color: #000000;
}