<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>The Burrow | Vault</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body class="terminal-body">

<div class="container">
    <h1 style="color: #ff0000;">Welcome <span th:text="${username}"></span></h1>
    <p style="color: #ffffff;">Welcome to your secure burrow. Data is encrypted and isolated.</p>

    <div class="input-section">
        <form th:action="@{/dashboard/add}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

            <p style="color: #ff0000;">[DATA_ENTRY_INTO_THE_SYSTEM]:</p>
            <textarea name="content" placeholder="Enter the data to be encrypted..." required></textarea>
            <br>
            <button type="submit" class="btn-retro">SEAL THE DATA</button>
        </form>
    </div>

    <hr style="border: 1px solid #333; margin: 20px 0;">

    <div class="vault-section">
        <h3 style="color: #ffffff;"> HIDDEN_ASSETS:</h3>
        <div th:each="note : ${notes}" class="note-box" style="position: relative; margin-bottom: 15px; border: 1px solid #333; padding: 10px;">
            <p th:text="${note.content}"></p>
            <span style="color: #00ff41; font-size: 10px;">[STATUS: SECURED]</span>

            <form th:action="@{/dashboard/delete/{id}(id=${note.id})}" method="post" style="display: inline; position: absolute; right: 10px; top: 10px;">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <button type="submit" style="background:none; border: 1px solid red; color: red; font-size: 10px; cursor: pointer;">
                    [PURGE]
                </button>
            </form>
        </div>

        <div th:if="${notes.empty}">
            <p style="color: #666;">Empty... For now..</p>
        </div>
    </div>

    <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
        <a href="/admin/users" style="color: red; font-weight: bold;">[ ACCESS_ADMIN_PANEL ]</a>
    </div>

    <br>
    <form th:action="@{/logout}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <button type="submit" class="logout-link" style="background:none; border:none; color:whitesmoke; cursor:pointer;">
            [ TERMINATE_SESSION ]
        </button>
    </form>
</div>

<script th:inline="javascript">
    window.onpageshow = function(event) {
        if (event.persisted || (window.performance && window.performance.navigation.type === 2)) {
            window.location.reload();
        }
    };
</script>

</body>
</html>